absl-py
asttokens
astunparse
attrs
backcall
cachetools
cassandra-driver
charset-normalizer
click
contourpy
cycler
decorator
executing
eventlet
Flask
fonttools
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imutil
ipython
itsdangerous
jax
jedi
joblib
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
matplotlib-inline
ml-dtypes
numpy
oauthlib
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyasn
pyasn1-modules
Pygments
pyOpenSSL
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
stack-data
termcolor
threadpoolctl
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
wrapt
tensorflow
opencv-python
mediapipe
mtcnn
keras-facenet
cassandra-driver
tabulate
flask
xgboost

