<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- mediapipe -->
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>





  <script type="text/javascript"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js" crossorigin="anonymous"></script>







  <style type="text/css">
    body {
      overflow: hidden;
    }

    iframe {
      width: 50%;
      height: 80vh;
      float: left;
      border: none;
    }


  </style>

  <title></title>
</head>
<body onload="update_values();">



<div id="yourDiv">
  <h1>
      <span id="result">?</span>
  </h1>
</div>


<script> 
   var username ='{{ prediction_result }}'
   console.log(username)

</script>

<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
var intervalID = setInterval(update_values,1000);

  function update_values() {
        $.getJSON($SCRIPT_ROOT + '/_stuff_face',
               
      function(data) {
        $('#result').text(data.result);
        console.log(data)
      });
      
    };
     
    
    function stopTextColor() {
      clearInterval(intervalID);
    }
    
</script>



<!-- mediapipe -->
<div class="container">
    <video class="input_video" style="display: none;"></video>
    <canvas class="output_canvas" width="640px" height="480px"></canvas>
    <video class="input_video" style="display: none; padding-left: 100px;"></video>
    <canvas class="output_canvas2" width="640px" height="480px"></canvas>
    <div class="landmark-grid-container" style="display: none;"></div>
    <video class="input_video" style="display: none; padding-left: 100px;"></video>
    <canvas class="output_canvas0" width="640px" height="480px" style="display: none;"></canvas>
</div>


<div class="container">
</div>
<iframe src="/daily_activity" style="width: 100%;"></iframe> -->

<script type="module">
const videoElement = document.getElementsByClassName('input_video')[0];
const canvasElement = document.getElementsByClassName('output_canvas')[0];
const canvasCtx = canvasElement.getContext('2d');

function onResults(results) {



  canvasCtx.save();
  canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
  // shows real video
  canvasCtx.drawImage(
      results.image, 0, 0, canvasElement.width, canvasElement.height);
  
  if (results.multiFaceLandmarks) {
    for (const landmarks of results.multiFaceLandmarks) {
      drawConnectors(canvasCtx, landmarks, FACEMESH_TESSELATION,
                     {color: '#C0C0C070', lineWidth: 1});
      drawConnectors(canvasCtx, landmarks, FACEMESH_RIGHT_EYE, {color: '#FF3030'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_RIGHT_EYEBROW, {color: '#FF3030'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_RIGHT_IRIS, {color: '#FF3030'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_LEFT_EYE, {color: '#30FF30'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_LEFT_EYEBROW, {color: '#30FF30'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_LEFT_IRIS, {color: '#30FF30'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_FACE_OVAL, {color: '#E0E0E0'});
      drawConnectors(canvasCtx, landmarks, FACEMESH_LIPS, {color: '#E0E0E0'});
    }
  }
  canvasCtx.restore();

}

const faceMesh = new FaceMesh({locateFile: (file) => {
  return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
}});
faceMesh.setOptions({
  maxNumFaces: 1,
  refineLandmarks: true,
  minDetectionConfidence: 0.5,
  minTrackingConfidence: 0.5
});
faceMesh.onResults(onResults);




const canvasElement2 = document.getElementsByClassName('output_canvas2')[0];
const canvasCtx2 = canvasElement2.getContext('2d');
const landmarkContainer = document.getElementsByClassName('landmark-grid-container')[0];
const grid = new LandmarkGrid(landmarkContainer);


function onResults2(results) {
  

  if (!results.poseLandmarks) {
    grid.updateLandmarks([]);
    return;
  }
  // console.log(results.poseLandmarks)

  canvasCtx2.save();
  canvasCtx2.clearRect(0, 0, canvasElement2.width, canvasElement2.height);
  // canvasCtx2.drawImage(results.segmentationMask, 0, 0,
  //                     canvasElement2.width, canvasElement2.height);

  // Only overwrite existing pixels.
  canvasCtx2.globalCompositeOperation = 'source-in';
  canvasCtx2.fillStyle = '#00FF00';
  canvasCtx2.fillRect(0, 0, canvasElement2.width, canvasElement2.height);

  // Only overwrite missing pixels.
  canvasCtx2.globalCompositeOperation = 'destination-atop';
  canvasCtx2.drawImage(
      results.image, 0, 0, canvasElement2.width, canvasElement2.height);

  canvasCtx2.globalCompositeOperation = 'source-over';
  drawConnectors(canvasCtx2, results.poseLandmarks, POSE_CONNECTIONS,
                 {color: '#00FF00', lineWidth: 4});
  drawLandmarks(canvasCtx2, results.poseLandmarks,
                {color: '#FF0000', lineWidth: 2});
  canvasCtx2.restore();

  grid.updateLandmarks(results.poseWorldLandmarks);
}

const pose = new Pose({locateFile: (file) => {
  return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
}});
pose.setOptions({
  modelComplexity: 1,
  smoothLandmarks: true,
  enableSegmentation: true,
  smoothSegmentation: true,
  minDetectionConfidence: 0.5,
  minTrackingConfidence: 0.5
});
pose.onResults(onResults2);













const canvasElement0 = document.getElementsByClassName('output_canvas0')[0];
const canvasCtx0 = canvasElement0.getContext('2d');



function onResults0(results) {
  let landmarks = [];

  let newLandmarks = [results.poseLandmarks];
  landmarks.push(newLandmarks);

  const imgData = canvasElement0.toDataURL();

  fetch('/process_image2', {
    method: 'POST',
    body: JSON.stringify({landmarks: landmarks, image: imgData}),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(response => response.json())
  .then(data => {
    // Handle the response data
  })
  .catch(error => {
    console.error(error);
  });


  if (!results.poseLandmarks) {
    grid.updateLandmarks([]);
    return;
  }
  console.log(results.poseLandmarks)

  canvasCtx0.save();
  canvasCtx0.clearRect(0, 0, canvasElement0.width, canvasElement0.height);
  // canvasCtx0.drawImage(results.segmentationMask, 0, 0,
  //                     canvasElement0.width, canvasElement0.height);


  // Only overwrite missing pixels.
  canvasCtx0.globalCompositeOperation = 'destination-atop';
  canvasCtx0.drawImage(
      results.image, 0, 0, canvasElement0.width, canvasElement0.height);
}

const pose0 = new Pose({locateFile: (file) => {
  return `https://cdn.jsdelivr.net/npm/@mediapipe/pose/${file}`;
}});
pose0.setOptions({
  modelComplexity: 1,
  smoothLandmarks: true,
  enableSegmentation: true,
  smoothSegmentation: true,
  minDetectionConfidence: 0.5,
  minTrackingConfidence: 0.5
});
pose0.onResults(onResults0);















const camera = new Camera(videoElement, {
  onFrame: async () => {
    await faceMesh.send({image: videoElement});
    await pose.send({image: videoElement});
    await pose0.send({image: videoElement});

  },
  width: 640,
  height: 480
});
camera.start();
</script>








<!-- mediapipe ends -->
</body>
</html>